.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    position:fixed;  
    z-index:1; 
    width:100%;
    text-align:center;
    vertical-align:middle;
    top:0px;
    
  }
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
  }
  
  .navbar a:hover {
    color: black;
  }

@media only screen and (min-width: 601px) and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
  
}

@media only screen and (min-width:426px) and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  
   
}
  @media only screen and (min-width: 100px) and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
  
}